<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.PremiumCleanCare">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Splashscreen"
            android:label="@string/app_name"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".WelcomeIntro"
            android:label="@string/app_name"
            android:theme="@style/Theme.NoTitleBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Login"
            android:theme="@style/Theme.MenuBar"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity

            android:name=".Registrasi"
            android:label="@string/app_name"
            android:theme="@style/Theme.MenuBar"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ProfileEdit"
            android:theme="@style/Theme.MenuBar"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Tambah"
            android:label="@string/app_name"
            android:theme="@style/Theme.MenuBar"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TrackingList"
            android:label="@string/app_name"
            android:theme="@style/Theme.MenuBar"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PaketList"
            android:theme="@style/Theme.MenuBar"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Profile"
            android:theme="@style/AppTheme"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TrackingDetail"
            android:theme="@style/Theme.MenuBar"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Info"
            android:theme="@style/Theme.MenuBar"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
    </application>

</manifest>